*.iml
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.idea/
*.log
local.properties
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
